.AboutPages {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ImageSection { 
    display: flex;
    margin: 3rem 1rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 700px){
    .ImageSection{
        flex-direction: column;
    }
}

.ImageSection .img {
    width: 100%;
    height: 60vh;
}

.ImageSection .img  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width: 1000px){
    .ImageSection .img  img{
        width: 80%;
    }
}


@media screen and (max-width: 1400px){
    .ImageSection .about-info {
        flex-direction: column;
        margin: 0rem .5rem 0rem 0rem
     }
}
@media screen and (min-width: 421px){
    .ImageSection .about-info {
        flex-direction: column;
    }
}

.ImageSection .about-info h4 {
    font-size: 2rem
}

.ImageSection .about-text {
    padding: 1rem 0;
}

.about-details {
    display: flex;
}

.about-details p {
    padding: .3rem 0;
}


.about-details .right-section {
    margin-left: 2.3rem ;

}

.btn {
    padding: 1rem 2rem;
    background-color:  #037fff;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    text-transform: uppercase;
    cursor: pointer; 
    letter-spacing: 2px;
    margin-top: 1rem;
    position: relative;
}
.btn::after {
    position: absolute;
    content: '';
    width: 0;
    height: .3rem;
    left: 0;
    bottom: 0;
    background-color: #a4acc4;
    transition: all 0.4s  ease-in-out;
}
.btn:hover::after {
    width: 100%;
}

.btn .DowloadCv {
 text-decoration: none;
 color: white;
 font-size: 1rem;
}