.BlogPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.BlogPage .blog {
    background-color: #161925;
    width: 90%;
    padding: 1rem;
    overflow: hidden;
}

.BlogPage .blog .blog-content {
    overflow: hidden;
    padding-bottom: 2rem;
}
.BlogPage .blog .blog-content img {
    width: 100%;
    transition: all .3s ease-in-out;
    padding-bottom: 3rem;
}

.BlogPage .blog .blog-content img:hover {
    transform: scale(1.1)
}

.BlogPage .blog .blog-content .blog-link {
    color: inherit;
    font-family: inherit;
    text-decoration:  none;
    font-size: 1rem;
    margin: 2rem 0;
    padding-bottom: 1.6rem;
}

.BlogPage .blog .blog-content .blog-link:hover {
    color: #037fff;

}

.b-title {
    margin-bottom: 4rem;
}

@media screen and (max-width: 450px){
    .BlogPage{
        grid-template-columns: repeat(1, 1fr);
    }
}