.ContactItem {
    width: 100%;
    margin: 1rem;
}

.ContactItem:not(:last-child) {
    margin-bottom: 1rem;
}

.ContactItem .contact {
    display: flex;
    align-items: center;
    background-color: #191D2B;
    padding: 3rem 1rem;
}

@media screen and (max-width: 700px){
    .ContactItem .contact {
        display: block;
        align-items: center;
        background-color: #191D2B;
        padding: .3rem .3rem;
    }
}

@media screen and (max-width: 1000px){
    .ContactItem .contact {
        width: 90%;
        margin-top: 6rem;
    }
}

.ContactItem .contact .right-items {
    margin-left: 1rem;
}

.ContactItem .contact img {
    padding: 1rem;
    border: 1px solid #2e344e;
    margin-left: 2rem;
    width: 16%;
}

.ContactItem .contact .right-items h6 {
    font-size: 1.4rem;
    font-weight: 500;
}

.ContactPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6rem;
}

@media screen and (max-width: 1000px){
    .ContactPage{
        grid-template-columns: repeat(1, 1fr);
    }
}

.ContactPage .map-sect {
    width: 100%;
    height: 50vh;
    margin-bottom: 1rem;
}

.ContactPage .contact-sect {
    width: 90%;
}

.map-sect {
    width: 97%;
    padding: 1rem;
}

.map-sect .iframe {
    width: 100%;
    height: 22rem;
}

.contact-sect {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    margin-bottom: 5rem;
}